extends layout

block styles
  link(rel='stylesheet', href='/css/style.css')

block content
  header(id="header")
    img(id="header-img" src="https://dummyimage.com/45x45/ccc/ded")

block scripts
  script(src='/js/client.min.js')
