extends layout

block styles
  link(rel='stylesheet', href='/css/style.css')

block content
  header(id="header")
    img(id="header-img" src="https://dummyimage.com/45x45/ccc/ded")
    nav(id ="nav-bar")
      a(class="nav-link" href="#one") | One |  
      a(class="nav-link" href="#two") | Two |  
      a(class="nav-link" href="#three") | Three |
  main(class="container u-full-height u-full-width")
    div(class="tile")
      p(id="one") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut suscipit sem. Nulla pulvinar tortor arcu, quis tristique nulla fermentum eget. Sed interdum risus eu nulla consectetur fermentum. Curabitur massa leo, porta vitae neque et, porta sodales mauris. Nunc mattis sapien et quam condimentum cursus. Ut tempus egestas mi, ut dictum tellus pharetra sit amet. Sed augue risus, euismod vitae placerat at, ornare nec ipsum.
      video(width="320" height="240" controls="true") Your browser does not support this video
        source(src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4")
      form(id="form")
        input(id="email" type="email" placeholder="myemail@mydomain.com") 
        input(type="submit" id="submit")
    div(class="tile")
      p(id="two") Nam gravida turpis nec mattis accumsan. Integer quam dolor, condimentum ac mi vel, dictum egestas metus. Sed bibendum commodo arcu. Praesent porta orci purus, in vulputate orci pharetra ut. Nam ipsum tellus, ullamcorper at tempor vitae, mollis quis mi. Sed rutrum, neque nec vestibulum malesuada, ipsum diam aliquam purus, sed suscipit dolor risus vitae enim. Maecenas pharetra magna sit amet odio consequat tempor. Curabitur nisi justo, ullamcorper in dolor eget, laoreet vehicula magna. Cras vitae erat imperdiet elit pharetra imperdiet sit amet sit amet arcu. Maecenas porta elementum iaculis. Maecenas id enim dui. Donec aliquam, sapien eget facilisis tempus, ante risus semper massa, ut tristique ligula velit et nisl. Mauris quis pellentesque ex. Nunc finibus suscipit dignissim. Integer pulvinar auctor pretium.
    div(class="tile")
      p(id="three") Nunc vehicula pretium urna at venenatis. Aenean blandit quis magna non volutpat. Quisque scelerisque porta elit ac consectetur. Sed justo neque, ultrices ut lacus quis, ultricies suscipit odio. Aenean nec risus enim. Ut at mi ac diam laoreet gravida. Mauris at dolor vestibulum, tincidunt ligula sed, aliquam ligula. Nulla vitae eros maximus, lacinia risus at, sodales augue. Phasellus eget odio libero. Maecenas accumsan mi scelerisque lorem ultrices, a posuere lectus dapibus. Morbi sed sem sed erat rutrum viverra. Suspendisse potenti. Aliquam purus ex, mollis commodo urna eu, cursus lacinia ipsum. Quisque sed leo vitae purus hendrerit vulputate non quis tortor. Mauris vulputate congue libero eu tincidunt. Duis interdum volutpat tellus in eleifend.
block scripts
  script(src='/js/client.min.js')
