extends layout

block styles
  link(rel='stylesheet', href='/css/style.css')

block content
  header(id="header")
    img(id="header-img" src="https://dummyimage.com/45x45/ccc/ded")
    nav(id ="nav-bar")
      a(class="nav-link") | One |  
      a(class="nav-link") | Two |  
      a(class="nav-link") | Three |

block scripts
  script(src='/js/client.min.js')
