@import url('https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css');

html { 
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
}

.sticky-top {
  position: fixed;
  top: 0;
  width: 100%;
}

.tile {
  height: 450px; 
  border-radius: 12px; 
  background-color: #fff;
  margin: 12px;
  width: 100%;
  border-style: solid;
  border-width: 3px;
  border-color: darkgrey;
  padding: 1em;
}

.u-full-height {
  height: 100vh;
}

